Description:

- Download any dataset from Kaggle that contains chat data to conduct natural language processing.
- Load 2 tables of CSV data into a SQL database of your choice
- Optimize your database by creating indexes and primary keys on appropriate columns
- Add a new column of data that has not been included in the csv
- Conduct any type of NLP (language detection, sentiment analysis, tokenization, etc.) and add to the database
- Connect to database from Python, select some columns database and produce a visualization/analysis of it.

1. Download any dataset from Kaggle that contains chat data to conduct natural language processing.

For the dataset I choose for the Teld talks set, as can be found on Kaggle:
https://www.kaggle.com/rounakbanik/ted-talks

Goal is to compare the review/rating "funny" with NLP analysis on the transcripts.

2. Load 2 tables of CSV data into a SQL database of your choice

Both ted_main.csv and transcripts.csv will be loaded into a sqlite database using sqlalchemy

In [66]:
from sqlalchemy import create_engine
import pandas as pd
from termcolor import colored

engine = create_engine('sqlite:///tedtalk.db', echo = False)
conn = engine.connect()

with open('ted_main.csv', 'r', encoding="utf-8") as file:
    data_df = pd.read_csv(file, encoding='utf-8')
data_df.to_sql('ted_main', con=engine, index=False, if_exists='replace')


with open('transcripts_unique.csv', 'r', encoding="utf-8") as file:
    data_df = pd.read_csv(file, encoding='utf-8')
data_df.to_sql('transcripts', con=engine, index=False, if_exists='replace')

# check if tables are loaded indeed
print (colored('tables:\n','blue'), engine.table_names(),'\n')

# check first line of ted_main
sql_text = 'SELECT * FROM ted_main LIMIT 1'
result = conn.execute(sql_text).fetchall()
print(colored('1st line table ted_main:\n','blue'), result, '\n')

# check first line of transcripts
sql_text = 'SELECT * FROM transcripts LIMIT 1'
result = conn.execute(sql_text).fetchall()
print(colored('1st line table transcripts:\n','blue'), result, '\n')

sql_text = 'SELECT url FROM transcripts GROUP BY url HAVING count(*)>1'
result = conn.execute(sql_text).fetchall()
print(colored('1st line table transcripts:\n','blue'), result, '\n')

tables:
 ['ted_main', 'transcripts']

1st line table ted_main:
 [(4553, 'Sir Ken Robinson makes an entertaining and profoundly moving case for creating an education system that nurtures (rather than undermines) creativity.', 1164, 'TED2006', 1140825600, 60, 'Ken Robinson', 'Ken Robinson: Do schools kill creativity?', 1, 1151367060, "[{'id': 7, 'name': 'Funny', 'count': 19645}, {'id': 1, 'name': 'Beautiful', 'count': 4573}, {'id': 9, 'name': 'Ingenious', 'count': 6073}, {'id': 3,  ... (370 characters truncated) ... unt': 4439}, {'id': 25, 'name': 'OK', 'count': 1174}, {'id': 26, 'name': 'Obnoxious', 'count': 209}, {'id': 10, 'name': 'Inspiring', 'count': 24924}]", '[{\'id\': 865, \'hero\': \'https://pe.tedcdn.com/images/ted/172559_800x600.jpg\', \'speaker\': \'Ken Robinson\', \'title\': \'Bring on the learning r ... (1597 characters truncated) ... keep kids in poverty", \'duration\': 830, \'slug\': \'kandice_sumner_how_america_s_public_schools_keep_kids_in_poverty\', \'viewed_count\': 1181333}]', 'Author/educator', "['children', 'creativity', 'culture', 'dance', 'education', 'parenting', 'teaching']", 'Do schools kill creativity?', 'https://www.ted.com/talks/ken_robinson_says_schools_kill_creativity\n', 47227110)]

1st line table transcripts:
 [('Good morning. How are you?(Laughter)It\'s been great, hasn\'t it? I\'ve been blown away by the whole thing. In fact, I\'m leaving.(Laughter)There hav ... (17244 characters truncated) ...  this future. By the way â€” we may not see this future, but they will. And our job is to help them make something of it.Thank you very much.(Applause)', 'https://www.ted.com/talks/ken_robinson_says_schools_kill_creativity\n')]

1st line table transcripts:
 [('https://www.ted.com/talks/brene_brown_listening_to_shame\n',), ('https://www.ted.com/talks/jonathan_haidt_humanity_s_stairway_to_self_transcendence\n',), ('https://www.ted.com/talks/rob_reid_the_8_billion_ipod\n',)]

3. Optimize your database by creating indexes and primary keys on appropriate columns

As the ted talk URL is unique and also available in both tables (it defines the join), these will be the primary keys. I don't see any need to index any other columns than the primary keys.

Unfortunately sqlite only allows added primary key on creating table, so I have to copy the contents to a new table.

During this exercise it appeared that 3 shows where duplicated in the transcripts, preventing unique keys. The following duplicates have been removed:
- brene_brown_listening_to_shame
- jonathan_haidt_humanity_s_stairway_to_self_transcendence
- rob_reid_the_8_billion_ipod

In [63]:
sql_text = 'ALTER TABLE ted_main RENAME TO ted_main_old;'
conn.execute(sql_text)
sql_text = 'CREATE TABLE ted_main ('
sql_text += '    comments           BIGINT,'
sql_text += '    description        TEXT,'
sql_text += '    duration           BIGINT,'
sql_text += '    event              TEXT,'
sql_text += '    film_date          BIGINT,'
sql_text += '    languages          BIGINT,'
sql_text += '    main_speaker       TEXT,'
sql_text += '    name               TEXT,'
sql_text += '    num_speaker        BIGINT,'
sql_text += '    published_date     BIGINT,'
sql_text += '    ratings            TEXT,'
sql_text += '    related_talks      TEXT,'
sql_text += '    speaker_occupation TEXT,'
sql_text += '    tags               TEXT,'
sql_text += '    title              TEXT,'
sql_text += '    url                TEXT   PRIMARY KEY,'
sql_text += '    views              BIGINT'
sql_text += ');'
conn.execute(sql_text)
sql_text = 'INSERT INTO ted_main SELECT * FROM ted_main_old;'
conn.execute(sql_text)
sql_text = 'DROP TABLE ted_main_old'
conn.execute(sql_text)
sql_text = 'CREATE INDEX url_index ON ted_main (url)'
conn.execute(sql_text)

from sqlalchemy import Table, MetaData
meta = MetaData()
table = Table('ted_main', meta, autoload=True, autoload_with=engine)
result = table.primary_key.columns.values()[0].name
print(colored('Primary key of table ted_main:\n','blue'), result, '\n')

from sqlalchemy.engine import reflection
insp = reflection.Inspector.from_engine(engine)
print(colored('Index of table ted_main:','blue'))
for index in insp.get_indexes('ted_main'):
    print(index)

sql_text = 'ALTER TABLE transcripts RENAME TO transcripts_old;'
conn.execute(sql_text)
sql_text = 'CREATE TABLE transcripts ('
sql_text += '    transcript TEXT,'
sql_text += '    url        TEXT PRIMARY KEY'
sql_text += ');'
conn.execute(sql_text)
sql_text = 'INSERT INTO transcripts SELECT * FROM transcripts_old WHERE url LIKE "http%";'
conn.execute(sql_text)
sql_text = 'DROP TABLE transcripts_old'
conn.execute(sql_text)
sql_text = 'CREATE INDEX url_index ON transcripts (url)'
conn.execute(sql_text)    

table = Table('transcripts', meta, autoload=True, autoload_with=engine)
result = table.primary_key.columns.values()[0].name
print(colored('Primary key of table transcripts:\n','blue'), result, '\n')

insp = reflection.Inspector.from_engine(engine)
print(colored('Index of table transcripts:','blue'))
for index in insp.get_indexes('transcripts'):
    print(index)

Primary key of table ted_main:
 url

Index of table ted_main:
{'name': 'url_index', 'column_names': ['url'], 'unique': 0}

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: transcripts.url
[SQL: INSERT INTO transcripts SELECT * FROM transcripts_old WHERE url LIKE "http%";]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:

def parse_funny_count(reviews):
    srev = str(reviews)
    loc1 = srev.find('Funny')
    if loc1 <=0:
        return 0
    else:
        loc2 = srev.find('}',loc1)
        return int(srev[loc1+17:loc2])
    

stmt = 'SELECT ratings FROM ted_main ORDER BY views DESC LIMIT 10'
result = conn.execute(stmt).fetchall()
for j in result:
    x = (parse_funny_count(j))
    print (x)